<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${photo.title + ' | フォトアルバム'}">（タイトル）</title>
</head>
<body>

<h2 style="text-align: center">
    <th:block th:text="${photo.title}"> （タイトル）</th:block><br/>
    <span th:text="${#dates.format(photo.date, 'yyyy年MM月dd日')}" style="font-size: small">日付</span>
</h2>

<img style="display: block; margin-left: auto; margin-right: auto" th:src="@{/lecture12/original/__${photo.filename}__}" th:alt="${photo.title}"/>

<hr/>
<a href="/lecture12/">トップ</a>

</body>
</html>